body{
    background: white;
}
.titleBar{
    border-bottom: 1px solid rgb(202, 200, 200);
    background: rgb(255, 255, 255);
    height: 70px;
}
.titleBar article, .icon article, .menu a{
    display: inline-block;
}
.icon{
    width: 50%;
    text-align: left;
}
.menu {
    text-align: right;
    width: 50%;
    font-family: Arial, monospace;
    font-size: 15px;

}
.menu a{
    color: black;
}
.menu a:active, a:hover{
    font-weight: bolder;
    color: rgb(116, 8, 179);
}
.menuName{
    text-align: right;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-right: 100px;
    padding-left: 0px;
    margin-right: 0px;
}
.section1{
    border-color:rgb(134, 126, 126);
    background-image: url(image/background.jpg);
}
.section1 article{
    display: inline-block;
}
.sectionText{
    margin-left: 100px;
    text-align: left;
    width: 50%;
    margin-top: 100px;
}
.header1{
    font-size: 48px;
    font-family: Space, 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
    margin: 0px;
}
.topText{
    padding-top: 100px;
}
.subText{
    color:rgb(120, 10, 245);
}
.paragraph1{
    font-size: 18px;
    font-family: monospace;
    color:rgb(59, 58, 58);
    padding: 0px, 30px;
}
.header1 h1{
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.sectionImage{
    width: 50%;
    margin: auto, 80px; 
}
.header2{
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.section3 h2 p{
    text-align: center;
}
.header3{
    font-size: 50px;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
}
.paragraph3{
    text-align: center;
    font-family: monospace, space, sans-serif;
    font-size: 18px;
    margin-left: 15%;
    margin-right: 15%;
}